@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color: #ddd;
    background-color: #000;
    font-family: "Rubik", sans-serif;
}

table {
    border-radius: 14px;
    border: 1px solid #171717;
    width: 100%;
    border-collapse: separate; /* Changed from collapse to separate */
    border-spacing: 0; /* Ensure no gaps between cells */
    margin: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

th, td {
    /*border: 1px solid #fff;  !* Lighter border color *!*/
    padding: 12px;
    text-align: left;
}

th {
    background-color: #171717; /* Softer background color */
    font-weight: 600;
}

/* Proper corner rounding */
table th:first-child {
    border-top-left-radius: 12px;
}

table th:last-child {
    border-top-right-radius: 12px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}